#my_text{
    width: 350px;
    height: 60px;
    font-size: 100%;
    box-sizing: border-box;
    padding-left: 5px;
}
html{
    font-size: 18px;
}
#container{
    margin: 50px auto 0px;
    width: 400px;
}
.todo-action{
list-style: none;
margin-bottom: 15px;
display: flex;
justify-content: space-between;
width: 280px;
font-size: 30px;
flex-wrap: nowrap;
padding: 5px;
}
.delate-button{
 border: none;   
 outline: none;
 background-color: transparent;
 font-weight: bold;
 color: crimson;
}
.delate-button:hover{
    color: deeppink;
}
.idea{
    list-style: none;
margin-bottom: 15px;
display: flex;
justify-content: space-between;
}
#contact{
    margin: 500px auto 0px;
    width: 400px;
}
#area{
    width: 300px;
    height: 50px;
}
input[type="submit"]{
    width: 100px;
    height: 50px;
    background-color: blue;
    color: azure;
}
input[type="submit"]:hover{
    background-color: cadetblue;
}
@media(max-width: 600px){
body{
    width: 380px;
}
}

#contact input[type="text"], 
#contact textarea, 
#contact select {
    width: 320px;  
    padding: 10px;       
    font-size: 18px;     
    margin-bottom: 15px; 
    box-sizing: border-box; 
    display: block;      
    margin-left: auto;   
    margin-right: auto;  
}
